@import url('https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light');

body {
    margin: 0 auto;
}

#board {
    text-align: center;
    background-color: silver;
    border-top: 1px solid #43db6e;
}

h1 {
    margin: 0;
}

h1, h2 {
    font-family: 'Pacifico', cursive;

}

button {
    font-family: 'Pacifico', cursive;
    margin: 3px;
    padding: 5px;
    background-color: #43db6e;
    border: 1px solid black;
}

.create-column {
    margin: 10px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    text-align: center;
}


.column-container {
    height: 200vh;
    background-color: silver;
    background-image: 
    radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size:100px 50px;
    border-top: 1px solid #43db6e;
    border-bottom: 1px solid #43db6e;
}

.column {
    text-align: center;
    float: left;
    margin: 30px 10px;
    padding: 15px;
    border: 4px dotted #43db6e;
    border-radius: 10px;
    background-color: silver;
}

.card {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    background-color: #9bc6a7;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}